* {
    
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Acme',
    sans-serif;
    text-decoration: none;
    list-style: none;
}
body {
  zoom: 110%;
  background-color: #E3E3D8;
}

.contenedor{
    width: 250px;
    margin-top: -570px;
    margin-left: 900px;
    
}
.contenedor1{
    width: 250px;
    margin-top: -50px;
    margin-left: 200px;
}
.flex-container {
    display: flex;
    height: 200px;

  }
  
  .flex-container > div {
    
    width: 90px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    flex: 1 1 200px;
  }
  .parrafo{
    width: 700px;
    margin-top: 6% ;
    margin-left: 400px;
    margin-bottom: 60px ;
    font-size: 25px;
    
  }

  .cabeza1 {
    display: flex;
    height: 200px;

  }
  
  .cabeza1 > div {
    
    width: 90px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    flex: 1 1 200px;
  }
  .cabeza1 > div.cabeza12{
    margin-top: 80px;
  }
  .video {
    margin-left: 150px;
    margin-top: 70px;
  }
  .video1 {
    margin-top: 40px;
    margin-left: 700px;
    
  } 
  
  .container{
    max-width: 1100px;
    margin: 0 auto;
}
.back{
    padding: 60px 0;
    background-color: #E3E3D8;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo{
    font-size: 24px;
    color: #15a4f9;
    font-weight: 800;
    text-transform: uppercase;
}
.menu .navbar ul li{
  position: relative;
  float: left;
}
.menu .navbar ul li {
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
}
.menu .navbar ul li a:hover{
    color: #15a4f9;
}
#menu {
  display: none;
}
.menu.icono {
  width: 50px;
}
.menu label {
  cursor: pointer;
  display: none;
}
@media(max-width:991px){

  .menu {
    padding: 30px;
  }
  .menu label {
    display: initial;
  }
  .back{
    padding: 40px 0;

  }
  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #E3E3D8;
    display: none;
  }
  .menu.navbar ul li {
    width: 100%;
  }
  #menu:checked .navbar{
    display: initial;
  }

}




.imagen{
  position: relative;
  display: inline-block;
  text-align: left;
  
  
}


.centrado{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-700px, 200px);
  padding: 30px;
  width: 80%;
  background-color: gray;
  font-size: 30px;
  
}

